<hr>
<div class="contact3 py-5">
  <div class="row no-gutters">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card-shadow">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/2.jpg" class="img-fluid" alt="contact">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="alert alert-danger" role="alert" *ngIf="error">
            Please give us at lease your <b>name</b>, <b>email</b> and <b>message</b>.
          </div>
          <div class="alert alert-primary" role="alert" *ngIf="sending">
            We are submitting...
          </div>
          <div class="alert alert-success" role="alert" *ngIf="sent">
            Your valuable message has been sent to us. We are really glad to know that.
          </div>
          <div class="contact-box">
            <h1 class="mt-2 mtFontRobotoBold">Quick Contact</h1>
            <form class="mt-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" required type="text" placeholder="name" [(ngModel)]="name" name="name">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" required type="email" placeholder="email address" [(ngModel)]="email" name="email">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <input class="form-control" type="text" placeholder="phone" [(ngModel)]="phone" name="phone">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group mt-2">
                    <textarea class="form-control" required rows="3" placeholder="message" [(ngModel)]="message" name="message"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="submit" (click)="onSubmit()" class="btn btn-danger-gradiant mt-3 text-white border-0 px-3 py-2"><span> SUBMIT</span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card mt-4 border-0 mb-4">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail pl-0">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon1.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Address</h6>
                    <p class="small">Shapla Bhaban (8th Floor), Room # 903
                      <br> 49 Motijheel C/A, Dhaka-1000, Bangladesh.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon2.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Phone</h6>
                    <p class="">+880 1714 094937
                      <br> -</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="card-body d-flex align-items-center c-detail">
                  <div class="mr-3 align-self-center">
                    <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/contact/icon3.png">
                  </div>
                  <div class="">
                    <h6 class="font-weight-medium">Email</h6>
                    <p class="">
                      nazrul@smaktrade.com
                      <br> -
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
