<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <h2 class="mtCompany">SMAK TRADE</h2>
      <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur
        vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
      <p>© 2014 BS3 UI Kit, All rights reserved</p>
    </div>
    <div class="col-md-2 footer-nav animated fadeInUp">
      <h4>Menu —</h4>
      <div class="row">
        <div class="col-md-12">
          <ul class="list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 footer-social animated fadeInDown">
      <h4>Reach Us</h4>
      <ul>
        <li><span class="mtIcon lnr lnr-envelope"></span>
          nazrul@smaktrade.com</li>
        <li><span class="mtIcon lnr lnr-phone-handset"></span>
          +880 1714 094937</li>
        <li><a href="https://facebook.com">
          <span class="mtIcon lnr lnr-link"></span>
          Facebook</a></li>
        <li><span class="lnr lnr-apartment"></span>
          Shapla Bhaban (8th Floor), Room # 903
          49 Motijheel C/A, Dhaka-1000, Bangladesh.</li>
      </ul>
    </div>
    <div class="col-md-3 footer-ns animated fadeInRight">
      <h4>Newsletter</h4>
      <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button">
                <span class="mtIconBtnDark lnr lnr-envelope"></span>
              </button>
            </span>
        </div>

    </div>
  </div>
</footer>
