<footer class="footer-bs">
  <div class="row">
    <div class="col-md-3 footer-brand animated fadeInLeft">
      <h2 class="mtCompany">SMAK TRADE</h2>
      <p>Office in the capital city of Dhaka and port city Chittagong manned with well experienced and professional Garments Merchandiser, Quality Controllers who are able to take the challenge of handling any Garment Orders with timely Production with accurate quality and Design / Pattern / Shipment Procedure.</p>
    </div>
    <div class="col-md-5 footer-nav animated fadeInUp">
      <h4>Menu —</h4>
      <div class="row">
        <div class="col-md-12">
          <ul class="list">
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/collections">Product Collections</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 footer-social animated fadeInDown">
      <h4>Reach Us</h4>
      <ul>
        <li><span class="mtIcon lnr lnr-envelope"></span>
          nazrul@smaktrade.com</li>
        <li><span class="mtIcon lnr lnr-phone-handset"></span>
          +880 1714 094937</li>
        <li><a href="https://facebook.com">
          <span class="mtIcon lnr lnr-link"></span>
          Facebook</a></li>
        <li><span class="lnr lnr-apartment"></span>
          Shapla Bhaban (8th Floor), Room # 903
          49 Motijheel C/A, Dhaka-1000, Bangladesh.</li>
      </ul>
    </div>
  </div>
</footer>
