.product {
  border-radius: 20px !important;
  transition: 0.22s;
  &:hover {
    box-shadow: 5px 5px 12px rgba(33,33,33, 0.75);
    background-color: #3c3d41;
  }
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
