<div class="featureHeader">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 pt-3 py-5">
        <h1 class="display-5 font-weight-bold text-capitalize" style="font-family: 'Roboto', sans-serif">A Leading buying house, manufacturer and exporter</h1>
        <p>Take the liberty in introducing ourselves as one of the recognized Knit wear Factory & Trading House handing overseas Garment orders of all types of Readymade Garments items as mentioned below</p>
        <a routerLink="/about" class="btn btn-dark">Learn more</a>
      </div>
    </div>
  </div>
</div>
