<div class="featureHeader">
  <div class="container">
    <div class="row">
      <div class="col-6 pt-3 py-5">
        <h1 class="display-4 font-weight-bold" style="font-family: 'Roboto', sans-serif">Company Heading</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur deserunt pariatur vitae. Inventore necessitatibus nemo nisi, obcaecati praesentium quisquam quo rerum soluta sunt voluptate. Aspernatur cupiditate dolores eos velit?</p>
      </div>
    </div>
  </div>
</div>
