.vector-1 {
  min-height: 600px;
  background: url("https://lh3.googleusercontent.com/pw/ACtC-3fqu0PvWT8tSyD9GtwMqkEoZFMlQjDFeGq05jHO7rvQtQHC-gNQp7eqAvTtfO8O2ZlX-8c_Cbsl-FgLeMWePTT7LFnBI17oh0p_Qg_XNt8ZrzBLrz-_UbBSPQfJkP20pQnmX46EMc89GmC_yrXc9sEe=s634-no?authuser=0") no-repeat;
  background-position: center;
  background-size: cover;
}

.caps {
  min-height: 600px;
}
