<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="m-0 text-center p-3">ABOUT</h3>
      <hr class="mt-0">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <strong class="mtFontRoboto">SMAK TRADE:</strong> office in the capital city of Dhaka and port city Chittagong is managed with well experienced and professional Garments Merchandiser, Quality Controllers who are able to take the challenge of handling any Garment Orders with timely Production with accurate quality and Design / Pattern / Shipment Procedure.
      </p>
      <p>
        <strong>Knitted Garments:</strong> T-Shirt & Polo Shirts (Ladies & Mans), Ladies & Girls Tank Top, Boxer Tank Top, Briefs, Nightwear, Pajama Sets & Other which we specially manufacture in our won Factory and supply.
      </p>
      <p>
        <strong>Woven Garments:</strong> Vest all types, Trouser, Jeans, Shorts, Boxer Shorts, Shirts For Mans, Ladies & Boys, Hats & Caps, Children & Infants Wears, And Various Uniforms & Sweaters which we manufacture in our associated Factory & supply.
      </p>
      <p>
        <strong>Knitted Sweaters:</strong> Marvelous Sweaters Limited is a 100% Exported Sweater Factory, Manufacturer, Supplier. It was Founded in Nov 2007. Specializes in supply all kinds of Men’s Sweater, Women’s Sweater, Children Sweater, Intarsia Design Sweater, Cashmerlike Sweater which Exporting to Europe, Australia & America. It Established Sampling and Design Department in Jan 2007, and Experienced in Cooperating with a few of Domestic and Overseas branded suppliers.
      </p>
    </div>
  </div>
  <div class="row my-3 caps align-items-center">
    <div class="col-lg-6 col-mg-6 col-sm-12 vector-1">
    </div>
    <div class="col-lg-6 col-mg-6 col-sm-12 justify-content-center p-3">
      <div class="row-1">
        <h4 class="mb-2">OUR CAPABILITIES</h4>
        <div class="list">
          <ol>
            <li>
              We deal with a wide range of products under main category of Sweater, Cardigan, Pullover and many other men, women and kids item.
            </li>
            <li>
              Always up-date with the latest fashion technology and business norms in the field.
            </li>
            <li>
              We do maintain a strong liaison with almost all the leading manufacturer of the country as mentioned as our allied partners.
            </li>
            <li>
              We do have well experienced management and qualified work force
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
