<div class="features-blue">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Features</h2>
      <p class="text-center">We give the best quality.</p>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-md-4 item"><i class="fa fa-map-marker icon"></i>
        <h3 class="name">Good location</h3>
        <p class="description">Our office location in very good. It's very quite place to work and visit us to our given location.</p>
      </div>
      <div class="col-sm-6 col-md-4 item"><i class="fa fa-clock-o icon"></i>
        <h3 class="name">Always on time</h3>
        <p class="description">We value your time. Our clients always gave positive reviews about our in time delivery of products. We work thinking our deadline.</p>
      </div>
      <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
        <h3 class="name">Order at any scale</h3>
        <p class="description">We work at scale from small to very large. We have enough man power to handle your work loads.</p>
      </div>
      <div class="col-sm-6 col-md-4 item"><i class="fa fa-leaf icon"></i>
        <h3 class="name">Environment friendly</h3>
        <p class="description">Our machinery is environment friendly. Wastage are recycled by another companies. We always keep our factory neat and clean.&nbsp;&nbsp;</p>
      </div>
      <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
        <h3 class="name">Blazing fast</h3>
        <p class="description">Our services are created for rapid production and for fast working we imported efficient machines and our people are very experienced. Our work is effective.</p>
      </div>
      <div class="col-sm-6 col-md-4 item"><i class="fa fa-phone icon"></i>
        <h3 class="name">Call anytime</h3>
        <p class="description">For your queries we always live with our phones. Call anytime and get any information from our call anytime service.</p>
      </div>
    </div>
  </div>
</div>
