<!--https://images.pexels.com/photos/532220/pexels-photo-532220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940-->
<div class="container my-3">
  <div class="row">
    <div class="col-lg-4">
      <div class="ownerPhoto">
        <img
          class="shadow img-fluid"
          src="https://lh3.googleusercontent.com/pw/ACtC-3elGZI5gs0iNHXAfGYpyCWnMvooWqyq-HBDCTZLCvXR21Y92UUlNJhLov8KJ20p7QmpLChWd4ZWoHSks-hEjp3-zVWw9Zwa220iwIMPJCTwKSOiBct61EMsDYd-C8mTGTmL3LrDfi7JwYBH8KfAKP8r=w465-h497-no?authuser=0"
          alt="Owner Photograph">
      </div>
    </div>
    <div class="col-lg-8 d-flex flex-column justify-content-between">
      <app-bio></app-bio>
      <button class="mtBtn align-self-end" routerLink="/contact">Contact Us</button>
    </div>
  </div>
</div>
