<div class="d-md-none">
  <app-navbar-small-screen></app-navbar-small-screen>
</div>
<section class="text-light d-none d-md-block" id="mtNavBarBg">
  <div class="container">
    <div class="row font-weight-bolder">
      <div class="col-lg-12">
        <ul class="nav nav-fill justify-content-center flex-sm-column" [ngStyle]="{height: navBarHeight}">
          <li ngbDropdown class="nav-item border-left border-right mtBorder">
            <a href (click)="false" class="nav-link text-light p-0 m-0 mtDropdownNoDropIcon"
               [ngStyle]="{lineHeight: navBarHeight}" ngbDropdownToggle>
              <span class="mtIcon lnr lnr-menu"></span>
              PRODUCT CATEGORIES</a>
            <div ngbDropdownMenu class="shadow-lg mtNavBarDropdown animate__animated animate__fadeIn animate__faster">
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
              >All</a>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
                 [queryParams]="{product: 'Sweater'}"
              >Sweater</a>
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
                 [queryParams]="{product: 'Knit'}"
              >Knit</a>
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
                 [queryParams]="{product: 'Woven'}"
              >Woven</a>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
                 [queryParams]="{category: 'Men'}"
              >Men's</a>
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
                 [queryParams]="{category: 'Women'}"
              >Women's</a>
              <a ngbDropdownItem
                 [routerLink]="['/collections']"
                 [queryParams]="{search: 'Kid'}"
              >Kid's</a>
            </div>
          </li>
          <li class="nav-item border-right mtBorder">
            <a class="nav-link text-light p-0 m-0" [ngStyle]="{lineHeight: navBarHeight}" routerLink=""
               routerLinkActive="active">HOME</a>
          </li>
          <li class="nav-item border-right mtBorder">
            <a class="nav-link text-light p-0 m-0" [ngStyle]="{lineHeight: navBarHeight}" routerLink="/collections"
               routerLinkActive="active">COLLECTIONS</a>
          </li>
          <li class="nav-item border-right mtBorder">
            <a class="nav-link text-light p-0 m-0" [ngStyle]="{lineHeight: navBarHeight}"
               routerLinkActive="active">COMPANY PROFILE</a>
          </li>
          <li class="nav-item border-right mtBorder">
            <a class="nav-link text-light p-0 m-0" [ngStyle]="{lineHeight: navBarHeight}" routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item border-right mtBorder">
            <a class="nav-link text-light p-0 m-0" [ngStyle]="{lineHeight: navBarHeight}" routerLink="/contact"
               routerLinkActive="active">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
