<div class="bio">
  <hr/>
  <h2>Syed Nazrul Islam</h2>
  <i>CEO, Smak Trade</i>
  <hr/>
  <p class="mt-3">In light of above we would request your good selves to please give us an opportunity handle your Garments Order and appoint us as your Exclusive Agents for the territory of Bangladesh to look after your Garments Business with fullest sense of belonging and responsibility.</p>
  <br>
  <p class="text-primary p-0 m-0">
    <span class="mtIcon lnr lnr-envelope"></span>
    nazrul@smaktrade.com</p>
  <p class="p-0 mt-3" ><span class="mtIcon lnr lnr-phone-handset"></span>
    +880 1714 094937</p>
  <a class="p-0 mt-3" href="https://facebook.com">
    <span class="mtIcon lnr lnr-link"></span>
    Facebook</a>

</div>
