<div class="bio">
  <hr/>
  <h2>Nazrul Islam</h2>
  <i>CEO, Smak Trade</i>
  <hr/>
  <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, autem beatae corporis culpa error est excepturi in inventore iste, iusto nam quam quos ratione reprehenderit sequi sint vel velit vitae?</p>
  <br>
  <p class="text-primary p-0 m-0">
    <span class="mtIcon lnr lnr-envelope"></span>
    nazrul@smaktrade.com</p>
  <p class="p-0 mt-3" ><span class="mtIcon lnr lnr-phone-handset"></span>
    +880 1714 094937</p>
  <a class="p-0 mt-3" href="https://facebook.com">
    <span class="mtIcon lnr lnr-link"></span>
    Facebook</a>
</div>
