<div class="container">
  <div class="row">
    <div class="col-lg-12 my-5">
      <h3 class="text-capitalize text-center">Company Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center table-responsive" id="profile-table">
        <table class="table table-striped table-hover table-bordered">
          <thead class="bg-primary text-light">
          <tr>
            <th>Machinery&nbsp;</th>
            <th>Specification</th>
            <th><strong>Brand</strong></th>
            <th><strong>Origin</strong></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Winding Machine<br></td>
            <td>(12 spindle) - 10 sets</td>
            <td>Universal<br></td>
            <td>Hong Kong<br></td>
          </tr>
          <tr>
            <td>Auto Jacquard Machine<br></td>
            <td>12GG - 50 Sets<br>5GG/7GG( Multi Gage) - 20 Sets</td>
            <td>Hong Qi Ma (Model No.SPZ-52C,CXI-145)</td>
            <td>China</td>
          </tr>
          <tr>
            <td>Hand Driven Flat Knitting Machine<br></td>
            <td>12GG - 200 Sets<br>7GG - 60 Sets<br>5GG - 60 Sets<br>3GG - 100 Sets</td>
            <td>Universal</td>
            <td>China</td>
          </tr>
          <tr>
            <td>Dial Linking Machine<br></td>
            <td>14G - 100 sets<br>8G - 55 sets<br>6G - 25 sets</td>
            <td>Universal</td>
            <td>China</td>
          </tr>
          <tr>
            <td>Automatic Rib Knitting Machine</td>
            <td>7G - 02sets<br>12G - 03 sets</td>
            <td>Universal</td>
            <td>China<br></td>
          </tr>
          <tr>
            <td>Brother over lock machine<br></td>
            <td>04 Sets<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Brother button hole, button stitch<br></td>
            <td>03 Sets<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Ngai Shing Snap attaching machine<br></td>
            <td>02 Set<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>PEGASUS Flatbed Interlock machine<br></td>
            <td>04 Set<br></td>
            <td>&nbsp;</td>
            <td></td>
          </tr>
          <tr>
            <td>Automatic Washer<br></td>
            <td>04 Sets<br>Capacity - 105 LBS<br></td>
            <td>Sut Lick<br></td>
            <td>Hong Kong<br></td>
          </tr>
          <tr>
            <td>Hydro Extractor<br></td>
            <td>02 Set<br>Capacity - 132 LBS</td>
            <td>Little Duck<br></td>
            <td>China</td>
          </tr>
          <tr>
            <td>Tumbler Dryer<br></td>
            <td>03 Sets<br>Capacity - 200 LBS</td>
            <td>Fulton<br></td>
            <td>Hong Kong<br></td>
          </tr>
          <tr>
            <td>Steam Boiler<br></td>
            <td>01 Set<br>Capacity - 470 Kg</td>
            <td>Fulton<br></td>
            <td>USA</td>
          </tr>
          <tr>
            <td>Steam Boiler<br></td>
            <td>01 Set<br>Capacity - 470 Kg</td>
            <td>Universal<br></td>
            <td>China<br></td>
          </tr>
          <tr>
            <td>Vacuuming iron Table<br></td>
            <td>44 Sets</td>
            <td></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Inspection lamp<br></td>
            <td>10 Sets<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Conveyor Type Metal Detector<br></td>
            <td>01 Set<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Brushing Machine<br></td>
            <td>01 Set<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Automatic PP Belting Machine<br></td>
            <td>01 Set<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pantone color reference book<br></td>
            <td>01 Set<br></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Color Assessment Cabinet<br></td>
            <td>01 Set<br></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
