<div class="d-flex border-top border-bottom align-items-center" style="height: 70px">
  <div class="col-12 text-center">
    <h3 class="p-0 m-0">Categories</h3>
  </div>
</div>
<div class="container">
  <div class="row my-3">
    <div class="col-4">
      <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Snowy Mountains">
        <div class="card__content">
          <h4 class="card__header">Knits</h4>
          <button class="mtBtn btn-block">Explore <span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80" alt="Desert">
        <div class="card__content">
          <h4 class="card__header">Sweaters</h4>
          <button class="mtBtn btn-block">Explore <span>&rarr;</span></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card"><img class="card__img" src="https://images.unsplash.com/photo-1506318164473-2dfd3ede3623?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3300&amp;q=80" alt="Canyons">
        <div class="card__content">
          <h4 class="card__header">Wovens</h4>
          <button class="mtBtn btn-block">Explore <span>&rarr;</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
