<div class="d-flex border-top border-bottom align-items-center" style="height: 70px">
  <div class="col-12 text-center">
    <h3 class="p-0 m-0">Categories</h3>
  </div>
</div>
<div class="container">
  <div class="row my-3">
    <div class="col-lg-4 col-mg-4 col-sm-12 col-xl-4" *ngFor="let category of categories;">
      <div class="card"><img class="card__img" [src]="category.img" alt="Canyons">
        <div class="card__content">
          <h4 class="card__header">{{category.name}}</h4>
          <div ngbDropdown>
            <button class="mtBtn btn-block mtDropdownNoDropIcon" id="dropdownBasic3" ngbDropdownToggle>Explore  <span>&rarr;</span></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="mtNavBarDropdown shadow-lg  animate__animated animate__fadeIn animate__faster">
              <a ngbDropdownItem
                 [routerLink]="link.routerLink"
                 [queryParams]="link.queryParams"
                 *ngFor="let link of category.links"
              >{{link.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
