.showcase_image {
  &_1 {
    background: url("https://5.imimg.com/data5/GO/IM/MY-40507433/men-s-polo-t-shirt-500x500.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 300px;
  }
  &_2 {
    background: url("https://5.imimg.com/data5/GO/IM/MY-40507433/men-s-polo-t-shirt-500x500.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 300px;
  }
  &_3 {
    background: url("https://5.imimg.com/data5/GO/IM/MY-40507433/men-s-polo-t-shirt-500x500.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 300px;
  }
  &_4 {
    background: url("https://5.imimg.com/data5/GO/IM/MY-40507433/men-s-polo-t-shirt-500x500.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 300px;
  }
  &_5 {
    background: url("https://5.imimg.com/data5/GO/IM/MY-40507433/men-s-polo-t-shirt-500x500.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 300px;
  }
  &_6 {
    background: url("https://5.imimg.com/data5/GO/IM/MY-40507433/men-s-polo-t-shirt-500x500.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    min-height: 300px;
  }
}

.height {
  min-height: 300px;
}
