<section>
  <app-feature-header></app-feature-header>
</section>

<section>
  <app-owner></app-owner>
</section>

<section>
  <app-categories></app-categories>
</section>

<section>
  <app-banner></app-banner>
</section>

<section>
  <app-women-room></app-women-room>
</section>

<section>
  <app-compnay-features></app-compnay-features>
</section>

<section>
  <app-men-room></app-men-room>
</section>

<section>
  <app-showcase></app-showcase>
</section>

<section>
  <app-contact-form></app-contact-form>
</section>
