.developer {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  z-index: 999;
  background-color: #3c3d41;
  padding: 5px 0;
  p {
    color: #f9f9f9;
    padding: 0;
    margin: 0;
  }
  .name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    text-transform: capitalize;
  }
}
